<!-- div class="d-flex justify-content-center"-->
<div class="row">
    <div class="col">
        <ul class="pagination justify-content-center">
            {% if pagination.prev_page %}
            <li class="page-item" data-qa="prev-page">
                {% else %}
            <li class="page-item disabled" data-qa="prev-page" >
                {% endif %}
                <a class="page-link" href="?page={{ pagination.prev_page }}">Předchozí</a>
            </li>

            {% for page in pagination.available_pages %}

            {% if page == pagination.current_page %}
            <li class="page-item active" data-qa="page-number">
                {% else %}
            <li class="page-item" data-qa="page-number">
                {% endif %}
                <a class="page-link" data-qa="page-{{ page }}" href="?page={{ page }}">{{ page }}</a>
            </li>

            {% endfor %}

            {% if pagination.next_page %}
            <li class="page-item" data-qa="next-page" >
                {% else %}
            <li class="page-item disabled" data-qa="next-page" >
                {% endif %}
                <a class="page-link" href="?page={{ pagination.next_page }}">Další</a>
            </li>
        </ul>
    </div>
</div>
