.custom-btn {
     background-color:#ff7a04;
     border-color:#ff7a04;
}

.custom-btn:hover, custom-btn:focus, custom-btn:active, custom-btn.active, .open>.dropdown-toggle.custom-btn {
    background-color: #EE671F;
    border-color: #EE671F;
}
