{% extends 'base.html' %}
{% block title %}Kategorie{% endblock %}
{% block body %}
<div class="container mt-3">
    <div class="row">
        {% include 'include/categories_menu.html' %}
        <div class="col-9">
            <div class="row pl-3">
                {% for category in categories %}
                <div class="col border m-3 p-3 text-center">
                    <a href="/categories/{{ category.obj_id }}?page=1">
                        <img class="mx-auto" src="/static/images/category{{ category.obj_id }}.jpg"
                             style="display: block"/><br>
                        <span data-qa="categories-grid-item-title">{{ category.title }}</span>
                    </a>
                </div>
                {% if loop.index is divisibleby 3 and not loop.last %}
            </div>
            <div class="row pl-3">
                {% endif %}
                {% endfor %}
            </div>

            {% include 'include/pagination.html' %}

        </div>
    </div>

</div>
{% endblock %}
