<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail produktu - {{ product.title }}</title>
</head>
<body>

<img src="{{ product.image_urls[0] }}" style="width:300px;height:300px;"/> <br/>
{% for url in product.image_urls[1:4] %}
    <img src="{{ url }}" style="width:100px;height:100px;"/>
{% endfor %}
 <br/>

<h1>{{ product.title }}</h1>

<p>
    <a href="/categories/{{ category.obj_id }}">{{ category.title }}</a> >> {{ product.title }}
</p>
<p>
    {{ product.description[:product_short_description_length] }}... <a href="?section=specification">Celá specifikace</a>
</p>

{% if section == 'compare' %}
    {% include 'product_comparison.html' %}
{% else %}
    {% include 'product_specification.html' %}
{% endif %}

</body>
</html>
