<script language="JavaScript">
    function showRemainingOffers() {
    const offersDiv = document.getElementById("remainingOffers");
    if (offersDiv.style.display === "none") {
        offersDiv.style.display = "block";
        const offersButton = document.getElementById("offersButton");
        offersButton.style.display = "none";
    }
}
</script>

<h2>Porovnání cen</h2>

<table>
{% for offer in product.sorted_offers[:3] %}
    <tr>
        <td>{{ offer.shop_name }}</td>
        <td><a href="{{ offer.url }}">Koupit</a></td>
        <td>{{ "%.f"|format(offer.price) }} Kč</td>
    </tr>
{% endfor %}
</table>

<div id="offersButton">
    <button onclick="showRemainingOffers();">Zobrazit ostatní nabídky</button>
</div>

<div id="remainingOffers" style="display: none;">
<h3>Ostatní nabídky</h3>
    <table>
    {% for offer in product.sorted_offers[3:] %}
        <tr>
            <td>{{ offer.shop_name }}</td>
            <td><a href="{{ offer.url }}">Koupit</a></td>
            <td>{{ "%.f"|format(offer.price) }} Kč</td>
        </tr>
    {% endfor %}
    </table>
</div>
